<footer class="footer">
  <div class="container">
     <a href="./index.html"><div class="footer-logo">
        <svg class="logo-icon" width="24" height="24">
            <use href="./img/icons.svg#logo"></use>
        </svg>
        
        <svg class="logo-name" width="77" height="14">
            <use href="./img/icons.svg#Bookshelf"></use>
        </svg>
    </div>
    <div class="footer-content">
      <div class="footer-top">
        <button class="footer-button" id="showGalleryButton">Contact us</button>
      </div>
      <div class="footer-bottom">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a class="footer-nav-link" href="#header">Home</a>
          </li>
         
        </ul>
      </div>
    </div>
  </div>
  <div class="modal">
    <div class="gallery">
      <img src="" alt="foto 1" />
      <img src="" alt="foto 2" />
    </div>
  </div>
</footer>
