<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <p class="footer-slogan">Bookshelf</p>
    </div>
    <div class="footer-bottom">
      <ul class="footer-nav">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#header">Home</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="">Hi</a>
        </li>
      </ul>
    </div>
  </div>
  <button class="footer-button" id="showGalleryButton">Contact us</button>
  <div class="modal">
    <div class="gallery">
      <img src="посилання на фото 1" alt="Фото 1" />
      <img src="посилання на фото 2" alt="Фото 2" />
    </div>
  </div>
</footer>
