<div class="container-gallary">
  <p class="category-title">Best Sellers <span>Books</span></p>
  <div class="category-container">
    <p class="category-descriotion">Combined Print and E-Book Fiction</p>
    <div class="books-container">
      <div class="book">
        <img src="Rectangle 13.png" class="book-img" alt="test" />
        <p class="book-title">I will find you</p>
        <p class="book-author">Harlan Coben</p>
      </div>

      <div class="book">
        <img src="Rectangle 13.png" class="book-img" alt="test" />
        <p class="book-title">I will find you</p>
        <p class="book-author">Harlan Coben</p>
      </div>

      <div class="book">
        <img src="Rectangle 13.png" class="book-img" alt="test" />
        <p class="book-title">I will find you</p>
        <p class="book-author">Harlan Coben</p>
      </div>

      <div class="book">
        <img src="Rectangle 13.png" class="book-img" alt="test" />
        <p class="book-title">I will find you</p>
        <p class="book-author">Harlan Coben</p>
      </div>

      <div class="book">
        <img src="Rectangle 13.png" class="book-img" alt="test" />
        <p class="book-title">I will find you</p>
        <p class="book-author">Harlan Coben</p>
      </div>
    </div>
    <div class="button-wrapper">
      <button type="button">SEE MORE</button>
    </div>
  </div>
  <div class="category-container">
    <p class="category-descriotion">Combined Print and E-Book Fiction</p>
    <div class="books-container">
      <div class="book">
        <img src="Rectangle 13.png" class="book-img" alt="test" />
        <p class="book-title">I will find you</p>
        <p class="book-author">Harlan Coben</p>
      </div>

      <div class="book">
        <img src="Rectangle 13.png" class="book-img" alt="test" />
        <p class="book-title">I will find you</p>
        <p class="book-author">Harlan Coben</p>
      </div>

      <div class="book">
        <img src="Rectangle 13.png" class="book-img" alt="test" />
        <p class="book-title">I will find you</p>
        <p class="book-author">Harlan Coben</p>
      </div>

      <div class="book">
        <img src="Rectangle 13.png" class="book-img" alt="test" />
        <p class="book-title">I will find you</p>
        <p class="book-author">Harlan Coben</p>
      </div>

      <div class="book">
        <img src="Rectangle 13.png" class="book-img" alt="test" />
        <p class="book-title">I will find you</p>
        <p class="book-author">Harlan Coben</p>
      </div>
    </div>
    <div class="button-wrapper">
      <button type="button">SEE MORE</button>
    </div>
  </div>
</div>
