<header>
    <a href="./index.html"><div class="logo">
        <svg class="logo-icon" width="24" height="24">
            <use href="./img/icons.svg#logo"></use>
        </svg>
        
        <svg class="logo-name" width="77" height="14">
            <use href="./img/icons.svg#Bookshelf"></use>
        </svg>
    </div>
    </a>
    <nav class="nav-list">
        <a href="./index.html"><div class="nav-item home active">HOME</div></a>
        <a href="./shop-list.html">
        <div class="nav-item basket">SHOPPING LIST
            <svg class="basket-ico" width="20" height="20">
                <use href="./img/icons.svg#uil_cart"></use>
            </svg>
        </div>
         </a>
    </nav>


    <div class="header-blocks">
        <div class="switcher-block">
            <div class="toggler"></div>
            <div class="switcher"></div>
        </div>
        <div class="burger-menu">
            <svg class="burger-icon" width="28" height="28">
              <use href="./img/icons.svg#burger"></use>
            </svg>
        </div>
        
    </div>

</header>