<header>
    <div class="logo">
        <svg class="logo-icon" width="24" height="24">
            <use href="./img/icons.svg#logo"></use>
        </svg>
        
        <svg class="logo-name" width="77" height="14">
            <use href="./img/icons.svg#Bookshelf"></use>
        </svg>
    </div>
    <nav class="nav-list">
        <div class="nav-item">
            <a href="./index.html">HOME</a></div>
        <div class="nav-item basket active">
            <a href="./shop-list.html">SHOPPING LIST
            <svg class="basket-ico active" width="20" height="20">
                <use href="./img/icons.svg#uil_cart"></use>
            </svg>
            </a>
        </div>

<!-- 
        <ul class="nav-list">
            <li class="nav-list-item home active">
                HOME
            </li>
            <li class="nav-list-item basket">
                    SHOPPING LIST
                    <svg class="basket-ico" width="20" height="20">
                        <use href="./img/icons.svg#uil_cart"></use>
                    </svg>
            </li>
        </ul> -->

    </nav>


    <div class="header-blocks">
        <div class="switcher-block">
            <div class="toggler"></div>
            <div class="switcher"></div>



        <!-- <svg class="switcher-rect" width="40" height="20">
          <use href="../img/icons.svg#toggler-rect"></use>
        </svg>
        <svg class="switcher-point" width="25" height="25">
          <use href="../img/icons.svg#toggler-point"></use>
        </svg> -->
        </div>
        <div class="burger-menu">
        <svg class="burger-icon-black" width="28" height="28">
          <use href="./img/icons.svg#burger_black"></use>
        </svg>
        <svg class="burger-icon-white" width="28" height="28">
          <use href="./img/icons.svg#burger_white"></use>
        </svg>
        </div>
        
    </div>

</header>