<header>
  <div class="header-container container">
    <a href="./index.html"
      ><div class="logo">
        <svg class="logo-icon" width="24" height="24">
          <use href="./img/icons.svg#logo"></use>
        </svg>

        <svg class="logo-name" width="77" height="14">
          <use href="./img/icons.svg#Bookshelf"></use>
        </svg>
      </div>
    </a>
    <nav class="nav-list">
      <a href="./index.html"><div class="nav-item home">HOME</div></a>
      <a href="./shop-list.html">
        <div class="nav-item basket">
          SHOPPING LIST
          <svg class="basket-ico" width="20" height="20">
            <use href="./img/icons.svg#uil_cart"></use>
          </svg>
        </div>
      </a>
    </nav>

    <div class="header-blocks">
      <div class="switcher-block">
        <div class="toggler"></div>
        <div class="switcher"></div>
      </div>
      <div class="burger-menu">
        <svg class="burger-icon" width="28" height="28">
          <use class="mob-ico" href="./img/icons.svg#burger"></use>
        </svg>
      </div>
      <button class="sign-up-button" type="button">
        <span class="sign-up-btn-text">Sign up</span>
        <svg class="sign-up-icon" width="20px" height="20px">
          <use href="./img/icons.svg#sign-up-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
