<div class="menu__body">
    <div class="user-block">
        <img class="user-photo" src="./img/stephan.png" alt="">
        <h3 class="user-name">Stephan</h3>
    </div>
    <div class="mobile-nav">
        <a href="./index.html"><div class="nav-item mobile-home">HOME</div></a>
        <a href="./shop-list.html">
        <div class="nav-item basket">SHOPPING LIST
            <svg class="basket-ico" width="20" height="20">
                <use href="./img/icons.svg#uil_cart"></use>
            </svg>
        </div>
         </a>
    </div>
    
</div>