<div class="menu__body">
  <div class="mobile-menu-content">
    <div class="user-block">
      <img class="user-photo" src="./img/stephan.png" alt="" />
      <h3 class="user-name">Stephan</h3>
    </div>
    <button class="sign-up-mobile" type="button">
      <span class="sign-up-btn-text">Sign up</span>
      <svg class="sign-up-icon" width="20px" height="20px">
        <use href="./img/icons.svg#sign-up-icon"></use>
      </svg>
    </button>
    <div class="mobile-nav">
      <a href="./index.html"><div class="nav-item mob-home">HOME</div></a>
      <a href="./shop-list.html">
        <div class="nav-item mob-basket">
          SHOPPING LIST
          <svg class="mob-basket-ico" width="20" height="20">
            <use href="./img/icons.svg#uil_cart"></use>
          </svg>
        </div>
      </a>
    </div>

    <!--  logout btn -->
    <div class="mobile-logout-div">
      <button class="log-out-btn" type="button">
        <span class="log-out-text">Log out</span>

        <svg class="log-out-icon" width="20px" height="20px">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
