<section class="shop_list">
  <div class="shop_container">
    <h2 class="shopping_title">
      Shopping <span class="shop_title_span">List</span>
    </h2>
    <div class="shop_title_list">
      <p class="no__info">This page is empty, add some books and proceed to order.</p>
      <img class="no__picture" src="../img/shopping/books-desk@1x.png" alt="Shop is ampty">
    </div>
  </div>
</section>
<section class="pagination_arrow">
  <div class="arrow_container arrow_container-back">
    <button
      type="button"
      name="startButton"
      class="arrow_btn arrow_btn_back"
      aria-label="Jump to first page"
    >
      <svg class="arrow_icon" width="24" height="24">
        <use href="./img/icons.svg#arrow_icon-double-small-left"></use>
      </svg>
    </button>
    <button
      type="button"
      name="previousButton"
      class="arrow_btn arrow_btn_back"
      aria-label="Previous page"
    >
      <svg class="arrow_icon" width="24" height="24">
        <use href="./img/icons.svg#arrow_icon-small-left"></use>
      </svg>
    </button>
  </div>
  <div class="arrow_container arrow_container_pages"></div>

  <div class="arrow_container arrow_container_end">
    <button
      type="button"
      name="nextButton"
      class="arrow_btn arrow_btn_end"
      aria-label="Next page"
    >
      <svg class="arrow_icon" width="24" height="24">
        <use href="./img/icons.svg#arrow_icon-small-right"></use>
      </svg>
    </button>
    <button
      type="button"
      name="endButton"
      class="arrow_btn arrow_btn_end"
      aria-label="Jump to last page"
    >
      <svg class="arrow_icon" width="24" height="24">
        <use href="./img/icons.svg#arrow_icon-double-small-right"></use>
      </svg>
    </button>
  </div>
</section>