<!-- AUTHORIZATION -->
<div class="backdrop-modal-sign-up display-none">
  <div class="modal-sign-up">
    <!-- <button class="modal-close-btn" type="btn">
      <svg class="modal-close-btn-icon" width="20" height="20">
        <use href="/src/img/icons.svg#x-close"></use>
      </svg>
    </button> -->

    <form class="sign-up-form">
      <input
        type="name"
        name="user_name"
        class="sign-up-modal-input"
        placeholder="NAME"
        required
      />
      <input
        type="email"
        name="user_email"
        class="sign-up-modal-input"
        placeholder="EMAIL"
        required
      />
      <input
        type="password"
        name="password"
        class="sign-up-modal-input"
        placeholder="PASSWORD"
        required
      />
      <button type="submit" class="sign-up-submit-btn sign-up-btn">
        SIGN UP
      </button>
    </form>
    <div class="sign-up-info">
      <a class="sign-up-link" href="#">SIGN UP</a>
      <button class="sign-in-btn" type="button">SIGN IN</button>
    </div>
  </div>
</div>
