<div id="sliderOne" class="splide" aria-label="">
  <div class="sup-container">
    <div class="sup-top">
      <h3 class="sup-tittle">Support Ukraine</h3>
      <svg class="trident">
        <use href="./img/icons.svg#icon-trident"></use>
      </svg>
    </div>
    <div class="splide__track">
      <ol class="splide__list"></ol>
    </div>
    <div class="splide__arrows">
      <button class="splide__arrow splide__arrow--prev">Prev</button>
      <button class="splide__arrow splide__arrow--next">
        <svg id="rotate-svg" class="icon-slider">
          <use class="support-arrow-ico" href="./img/icons.svg#icon-ar-up"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
