.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-content {
  margin: 0 auto;
  padding-top: 104px;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    max-width: 768px;
    padding: 0 32px;
  }
  .main-content {
    display: flex;
    flex-direction: column;
    padding-top: 112px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    max-width: 1440px;
    padding: 0 24px;
  }
  .main-content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 40px;
    padding-top: 112px;
  }
}
