.container-gallary {
  font-family: DM Sans;
  padding-top: 40px;
}

.category-title {
  text-transform: capitalize;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;
}

@media screen and (min-width: 768px) {
  .category-title {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.92px;
  }
}

.category-title span {
  color: #4f2ee8;
}

.category-container {
  margin-top: 40px;
}

.category-description {
  text-transform: uppercase;
  margin-bottom: 18px;
  color: #b4afaf;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.42px;
}

@media screen and (min-width: 768px) {
  .category-description {
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .category-description {
  }
}

.books-container {
  display: flex;
  justify-content: center;
  /* flex-flow: row wrap; */
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .books-container {
    /* flex-direction: row; */
    gap: 25px;
  }
}

.books-container .book {
  display: none;
  flex: 0 1 calc(20% - 24px);
  /* margin: 0 12px; */
}

.books-container.show-more .book {
  display: block;
  flex: 0 1 calc(20% - 24px);
}

.books-container .book:first-child {
  display: flex;
}

/* вставити меді квері для таблета */
@media screen and (min-width: 768px) {
  .books-container .book:nth-child(-n + 3) {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .books-container .book:nth-child(-n + 5) {
    display: flex;
  }
}

.book {
  display: flex;
  flex-direction: column;
}
.book-picture {
  position: relative;
}

.book-picture::after {
  content: 'QUICK VIEW';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 70px;
  border-radius: 0px 0px 8px 8px;
  background: #ffd63f;
  opacity: 0.95;

  color: #111;

  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.book-img {
  max-width: 335px;
  max-height: 485px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .book-img {
    width: 218px;
    height: 316px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .book-img {
    width: 180px;
    height: 256px;
  }
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  /* Звірити розмір з макетом */
}

@media screen and (min-width: 768px) {
  .button-wrapper {
    margin-top: 20px;
  }
}

.btn-load-more {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;

  border-radius: 40px;
  padding: 14px 28px;
  outline: none;
  border: 2px solid #4f2ee8;
}

.book-title {
  text-transform: uppercase;
  margin-top: 14px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
}

.book-author {
  color: #b4afaf;
  margin-top: 4px;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
}

/* OVERLAY */
