/* .loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: rgb(18, 40, 167);
  left: 50%;
  top: 50%;
  z-index: 0;
  animation: rotate 1s ease-in infinite;
}
.loader::after {
  width: 20px;
  height: 20px;
  background-color: rgb(255, 208, 0);
  animation: rotate 2s ease-in infinite, moveY 2s ease-in infinite;
} */


@keyframes moveY {
  0%,
  100% {
    top: 10%;
  }
  45%,
  55% {
    top: 59%;
  }
  60% {
    top: 40%;
  }
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -100%) rotate(0deg) scale(1, 1);
  }
  25% {
    transform: translate(-50%, 0%) rotate(180deg) scale(1, 1);
  }
  45%,
  55% {
    transform: translate(-50%, 100%) rotate(180deg) scale(3, 0.5);
  }
  60% {
    transform: translate(-50%, 100%) rotate(180deg) scale(1, 1);
  }
  75% {
    transform: translate(-50%, 0%) rotate(270deg) scale(1, 1);
  }
  100% {
    transform: translate(-50%, -100%) rotate(360deg) scale(1, 1);
  }
}

.container-gallary {
  font-family: DM Sans;
  padding-top: 40px;
}

.category-title {
  /* text-transform: capitalize; */
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -1.28px;
  color: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .category-title {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -1.92px;
  }
}

.category-title span {
  color: #4f2ee8;
}

.category-container {
  margin-top: 40px;
}

.category-description {
  text-transform: uppercase;
  margin-bottom: 18px;
  color: #b4afaf;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.42px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .category-description {
    line-height: 24px;
  }
  .container-gallary {
    padding-top: 100px;
  }
}

.books-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.books-container.show-more {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .books-container {
    gap: 25px;
  }
}

.books-container .book {
  display: none;
  flex: 0 1 calc(20% - 24px);
}

.books-container.show-more .book {
  display: block;
  flex: 0 1 calc(20% - 24px);
}

.books-container .book:first-child {
  display: flex;
}

/* вставити меді квері для таблета */
@media screen and (min-width: 768px) {
  .books-container .book:nth-child(-n + 3) {
    display: flex;
  }
  .books-container.show-more {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .books-container .book:nth-child(-n + 5) {
    display: flex;
  }
  .books-container.show-more {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .container-gallary {
    padding-top: 0;
  }
}

.book {
  display: flex;
  flex-direction: column;
}
.book-picture {
  position: relative;
}

.book-picture::after {
  content: 'QUICK VIEW';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  height: 70px;
  border-radius: 0px 0px 8px 8px;
  background: #ffd63f;
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(10%);
  transform-origin: bottom;

  color: #111;

  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.book-picture:hover::after {
  opacity: 0.95;
  transform: translateY(0);
  cursor: pointer;
}

.book-img {
  max-width: 335px;
  max-height: 485px;
  border-radius: 10px;
}

.book-img:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .book-img {
    width: 218px;
    height: 316px;
    border-radius: 8px;
  }
}

@media screen and (min-width: 1440px) {
  .book-img {
    width: 180px;
    height: 256px;
  }
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  /* Звірити розмір з макетом */
}

@media screen and (min-width: 768px) {
  .button-wrapper {
    margin-top: 20px;
  }
}

.btn-load-more {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;

  border-radius: 40px;
  padding: 14px 28px;
  outline: none;
  border: 2px solid #4f2ee8;
  background-color: var(--secondary-background-color);
  color: var(--main-text-color);
}

.book-title {
  text-transform: uppercase;
  margin-top: 14px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  color: var(--main-text-color);
}

.book-author {
  color: #b4afaf;
  margin-top: 4px;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
}
