.header-container {
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    display: flex;
    width: 375px;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    border: 1.5px solid var(--header-border-color);
    border-radius: 0px 0px 8px 8px;
    align-items: center;
}

.logo {
    display: flex;
    height: 28px;
    justify-content: baseline;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.nav-list {
    display: none;
}

.books-quantity {
    position: relative;
    top: -15px;
    left: -22px;
    /* border: 1px solid var(--header-border-color); */
    background-color: rgb(196, 8, 8);
    color: white;
    font-weight: 400;
    font-size: 12px;
    height: 18px;
    width: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;


}

.toggler {
    background: var(--toggler-gradient);
    border-radius: 20px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.10) inset;
    flex-shrink: 0;
    width: 40px;
    height: 20px;
    position: relative;
}

.nav-text {
    color: var(--main-text-color);
}

.basket-ico {
    fill: var(--main-text-color);
}

.switcher {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 2px;
    transition: left .5s;
}

.logo-name {
    fill: var(--logo-text-color);
}

.burger-icon {
    stroke: var(--main-text-color);
}

.header-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 0px;
}

.switcher-block {
    position: relative;
    width: 40px;
    height: 20px;
    cursor: pointer;
    margin-right: 14px;
}

.burger-menu {
    cursor: pointer;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    overflow: hidden;
}


/* mobile menu */

.menu__body {
    position: fixed;
    top: -100%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%, 
                #4F2EE8 18.03%, #FFF 100%);
    padding: 0px;
    transition: top 0.4s ease 0s;    
    z-index: 4;
}

body.modal-open {
    overflow: hidden;
    position: fixed;
}

.menu__body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/group-foto@1x.png") center 445px no-repeat;
    z-index: -1;
    background-attachment: fixed;
}


.menu__body.menu-active {
    top:0;
}

.user-block {
    display: inline-flex;
    align-items: center;
    gap: 9px;
    margin-top: 84px;
    margin-left: 20px;
}

.user-photo {
    width: 37px;
    height: 37px;
}

.user-name {
    color: #FFF;
    font-family: DM Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
}

.mobile-nav {
    margin-top: 140px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 7px;
}

.nav-item {
    padding: 8px 16px;
    width: fit-content;
    color: #FFF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 4px;
}

.mob-basket-ico {
    fill: white;
}

.nav-active {
    border-radius: 36px;
    background: #EAC645;
    color: #111;
    fill: #111;
}

.sign-up-button {
    display: none;
}

.log-out-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 4px;
    padding: 14px 24px;
    border-radius: 18px;
    border: 1.5px solid #111;
    background: #fff;
    justify-content: center;
    align-items: center;
}

.log-out-text {
    display: block;
    color: #111;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.28;
    /* 128.571% */
    letter-spacing: -0.56px;
    margin-right: 4px;
}



/* Tablet */
@media screen and (min-width:768px) {
    .mobile-logout-div {
        display: none;
    }

    .burger-menu {
       display: none;
    }

    .header-container {
        width: 768px;
        height: 72px;
        gap: 0px;
        margin: 0 auto;
    }


    .logo {
        margin-right: 40px;
    }

    .nav-list {
        min-width: fit-content;
        display: inline-flex;
        align-items: center;
        gap: 0px;
        margin-right: 87px;
    }

    .switcher-block {
        margin-right: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shopping-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }

    .nav-text {
        color: var(--main-text-color);
    }

    .basket-ico {
        fill: var(--main-text-color);
    }

    .nav-item {
        color: var(--main-text-color);
        display: flex;
        padding: 8px 16px;
        align-items: flex-start;
        gap: 10px;
    }

    .basket {
        display: flex;
        padding: 7px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    .sign-up-button {
        display: flex;
        align-items: center;

        width: 184px;
        height: 48px;
        border-radius: 18px;
        border: 1.5px solid #111;
        background-color: #4f2ee8;
        padding: 12px 14px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }
    
    .sign-up-btn-text {
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.28;
        letter-spacing: -0.56px;
        margin-right: auto;
        color: #fff;
    }


    .nav-active {
        border-radius: 36px;
        background: #EAC645;
        color: #111;
        fill: #111;
    }
}


/* Desctop */
@media screen and (min-width:1440px) {
    .header-container {
        width: 1440px;
    }

    .logo {
        margin-right: 76px;
    }

    .nav-list {
        gap: 6px;
    }

}