.backdrop {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in 0s;
}

/* кнопка закрытия */
.modal-close-button {
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-background-color);
}

/* иконка внутри кнопки закрытия */
.modal__cross {
  fill: black;
  cursor: pointer;
  fill: var(--main-text-color);
}

.js-open-modal {
  color: #fff;
}

.open-modal {
  background-color: #4f2ee8;
  width: 80px;
  height: 40px;
}

.modal {
  /* Скрываем окна  */
  display: inline;
  opacity: 0;
  visibility: hidden;
  /*  Установаем ширину окна  */
  width: 335px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  /* Должен быть выше чем у подложки*/
  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #fff;
  transition: 0.3s all;
  border-radius: 18px;
  border-color: #111111;
  border: 2px solid #111;
  background: var(--secondary-background-color);
}

/* стили внутри модалки */

.modal-image {
  width: 287px;
  height: 408px;
  border-radius: 8px;
}

.modal__title {
  text-align: left;
  color: #111;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.64px;
  margin-bottom: 4px;
  color: var(--main-text-color);
  padding-top: 14px;
}

.modal-title-name {
  text-align: left;
  color: #b4afaf;
  font-family: DM Sans;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.48px;
  padding-bottom: 18px;
}

.modal-title-text {
  text-align: left;
  width: 287px;
  height: 70px;
  flex-shrink: 0;
  color: #111;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  margin-bottom: 14px;
  color: var(--main-text-color);
}

.book-links {
  display: flex;
  gap: 20px;
  padding-bottom: 44px;
}

.modal-text-link {
  padding-bottom: 44px;
  display: flex;
}

.modal-link-amazon {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  filter: grayscale(100%);
  background-color: var(--main-text-color);
}

.modal-link {
  filter: grayscale(100%);
}

.modal-icon-amazon {
  text-align: left;
  background-color: #fff;
  
}

.modal-button-add {
  display: block;
  background-color: #fff;
  min-width: 211px;
  min-height: 46px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  color: #111;
  color: var(--main-text-color);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  background: var(--secondary-background-color);
}

.modal-button-remove {
  border-radius: 40px;
  background: #fff;
  border: 2px solid #4f2ee8;
  display: inline-flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;
  box-sizing: inherit;
}

.modal-text-button-remove {
  color: #111;
  display: block;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  box-sizing: inherit;
}



/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
}

.modal-button-add:hover,
.modal-button-add:focus {
  background-color: #4f2ee8;

  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: none;
    width: 579px;
    height: 501px;
    margin-top: 85px;
    padding: 40px;
    overflow-y: visible;
  }
  .book-links {
    margin-bottom: 0;
  }
  .modal-image {
    min-width: 192px;
    height: 281px;
    width: 192px;
    margin-bottom: 0;
  }
  .modal-ipad {
    gap: 24px;
    margin-bottom: 40px;
    display: flex;
  }

  .modal-title-name {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.29;
    margin: auto;
  }
  .modal-title-text {
    margin-bottom: 20px;
  }

  .modal-button-add {
    display: block;
    background-color: #fff;
    min-width: 211px;
    min-height: 46px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 113px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    border: 2px solid #4f2ee8;
    color: #111;
    color: var(--main-text-color);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.18px;
    text-transform: uppercase;
    background: var(--secondary-background-color);
  }
}

@media screen and (min-width: 1440px) {
  .modal {
    max-width: none;
    width: 579px;
    height: 465px;
    margin-top: 85px;
    padding: 40px;
    overflow-y: visible;
  }
}
