/**
  |============================
  | Section Shopping List
  |============================
*/

    .header {
        padding-bottom: 104px;
    }

    @media screen and (min-width: 1280px) {
    .shop_content_container {
        flex-direction: row;
        padding: 40px 24px;
        display: flex;
      }
    }
    
    @media screen and (min-width: 768px) {        
        .shop_content_container {
       
      }
    }

    .shop_content_container{
        
    }
    

    .shop_support__aside {
        display: none;
    }

    @media screen and (min-width: 1280px) { 
    .shop_support__aside {
        display: inherit;
      }
    }
   
    .shop_list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    @media  screen and (min-width: 1280px) {
    .shop_container {
        display: flex;
    }
      }
    
    .shopping_title {
        letter-spacing: -.04em;
        margin-bottom: 40px;
        font-weight: 700;
        color: var(--main-text-color);
        font-size: 32px;
        line-height: 1.1875;
        margin-left: 20px;
    }
    
    @media screen and (min-width: 768px) {
      .shopping_title {
        font-size: 48px;
        line-height: 1.08333;
        margin-left: 32px;
        }
      }
    
    .shop_title_span {
        color: #4F2EE8;
    }
    .shop_title_list {
        flex-direction: column;
        align-items: center;
        gap: 14px;
        width: 265px;
        height: 248px;
        margin-top: 120px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        display: flex;
    }
    
    .no__picture {
        width: 265px;
        height: 198px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .no__info{
    text-align: center;
        letter-spacing: -.02em;
        color: #0009;
        font-size: 14px;
        line-height: 1.28571;
    }
    
    @media screen and (min-width: 768px){
    .no__info {
        margin-left: 0;
        margin-right: 0;
        font-size: 18px;
        line-height: 1.33333;
    }
    }
    /**
      |============================
      | Section Pagination
      |============================
    */
    
    .pagination_arrow {
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        display: flex;
        
    }
    .arrow_container {
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 120px; */
    }
    .arrow_container-back,
    .arrow_container_end {
        display: none;
    }
    .arrow_btn {
        display: inherit;
        width: 30px;
        height: 30px;
        border: 1px solid #111;
        border-radius: 50px;
    }
    
    @media screen and (min-width: 768px){
    .arrow_btn {
        width: 44px;
        height: 44px;
        font-size: 18px;
        }
    }
    
    .arrow_btn:hover {
        background-color: #fbde6c;
    }
    .arrow_btn_back {
        display: inherit;
        background-color: #111;
        border-color: #000;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
    }
    
    .arrow_btn_back:hover {
        background-color: #7b70f8;
        color: #FFFFFF;
    }
    
    .arrow_btn_back:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
    
    .arrow_btn_back:active {
        background-color: #4F2EE8;
        color: #FFFFFF;
    }
    .arrow_icon {
        pointer-events: none;
    }
    .arrow_container_pages {
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
    }
    
    @media screen and (min-width: 768px){
    .arrow_container_pages {
        margin-left: 24px;
        margin-right: 24px;
    }
    }
    
    .arrow_btn_end {
        display: inherit;
        background-color: #EAC645;
        border-color: #000;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
    }
    
    .arrow_btn_end:hover {
        background-color: #fbde6c;
        
    }
    .arrow_btn_end:active {
        background-color: #f5c60a;
    }
    
    .arrow_btn_end:first-child {
        margin: 0;
    }   
    