/**
  |============================
  | Section Shopping List
  |============================
*/
.shop_content_container {
    padding-top: 104px;
}

@media screen and (min-width: 780px) {
    .shop_content_container {
        padding-top: 112px;
    }
}

@media screen and (min-width: 1440px) {
    .shop_content_container {
        display: flex;
        gap: 40px;
    }
}

.shop_support__aside {
    display: none;
    padding: 0;
}

@media screen and (min-width: 1440px) {
    .shop_support__aside {
        display: inherit;
        max-width: 356px;
        height: 474px;
    }
}

/* @media screen and (min-width: 1280px) {
    .shop_container {
        display: flex;
        }
} */

.shopping_title {
    color: var(--main-text-color);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
    .shopping_title {
        font-size: 48px;
        line-height: 1.08;
    }
}

.shop_title_span {
    color: #4F2EE8;
}

.shop_title_list {
    margin-top: 120px;

}

@media screen and (min-width: 768px) {
    .shop_title_list {
        margin-top: 140px;
    }
}

@media screen and (min-width: 1440px) {
    .shop_title_list {
        margin-top: 140px;
        margin-left: 315px;
    }
}

.blank-basket {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 265px;
    height: 248px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .blank-basket {
        gap: 20px;
        width: 349px;
        height: 309px;
    }
}

@media screen and (min-width: 1440px) {
    .blank-basket {
        display: flex;
        gap: 20px;
        width: 349px;
        height: 309px;
    }
}

.no__picture {
    width: 265px;
    height: 198px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .no__picture {
        width: 322px;
        height: 241px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.no__info {
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--shop-text-color);
    font-size: 14px;
    line-height: 1.28;
}

@media screen and (min-width: 768px) {
    .no__info {
        margin-left: 0;
        margin-right: 0;
        letter-spacing: -0.025em;
        font-size: 18px;
        line-height: 1.3;
    }
}


/**
  |============================
  | Section Pagination
  |============================
*/

.pagination_arrow {
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    display: flex;

}

.arrow_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 120px; */
}

.arrow_container_back,
.arrow_container_end {
    display: none;
}

.arrow_btn {
    display: inherit;
    width: 30px;
    height: 30px;
    border: 1px solid #111;
    border-radius: 50px;
}

@media screen and (min-width: 768px) {
    .arrow_btn {
        width: 44px;
        height: 44px;
        font-size: 18px;
    }
}

.arrow_btn:hover {
    background-color: #fbde6c;
}

.arrow_btn_back {
    display: inherit;
    background-color: #111;
    border-color: #000;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.arrow_btn_back:hover {
    background-color: #7b70f8;
    color: #FFFFFF;
}

.arrow_btn_back:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.arrow_btn_back:active {
    background-color: #4F2EE8;
    color: #FFFFFF;
}

.arrow_icon {
    pointer-events: none;
}

.arrow_container_pages {
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
}

@media screen and (min-width: 768px) {
    .arrow_container_pages {
        margin-left: 24px;
        margin-right: 24px;
    }
}

.arrow_btn_end {
    display: inherit;
    background-color: #EAC645;
    border-color: #000;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.arrow_btn_end:hover {
    background-color: #fbde6c;

}

.arrow_btn_end:active {
    background-color: #f5c60a;
}

.arrow_btn_end:first-child {
    margin: 0;
}