/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./fonts.css');
@import url('./reset.css');
@import url('./container.css');
@import url('./header.css');
@import url('./gallery.css');
@import url('./back2top.css');

@import url('./modal.css');
@import url('./support.css');
@import url('./shopping-list.css');
@import url('./sign-up.css');
@import url('./categories.css');

:root {
  --font-family: 'DM Sans';
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.theme-light {
  --primary-background-color: #f6f6f6;
  --secondary-background-color: #ffffff;
  --header-border-color: #111111;
  --main-text-color: #111111;
  --category-selected-color: #4f2ee8;
  --toggler-gradient: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  --logo-text-color: #000;
  --category-color: rgba(17, 17, 17, 0.6);
  --shop-text-color: #0009;
  --amazon-img-color: brightness(0) invert(0);
  --book-img-color: grayscale(100%);
  --congratulations-text-color: rgba(17, 17, 17, 0.5);
}

.theme-dark {
  --primary-background-color: #202024;
  --secondary-background-color: #111111;
  --header-border-color: #ffffff;
  --main-text-color: #ffffff;
  --category-selected-color: #eac645;
  --toggler-gradient: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
  --logo-text-color: #f3f3f3;
  --category-color: rgba(255, 255, 255, 0.6);
  --shop-text-color: #fff9;
  --amazon-img-color: brightness(0) invert(1);
  --book-img-color: grayscale(100%);
  --congratulations-text-color: rgba(255, 255, 255, 0.5);
}

.theme-light body,
.theme-dark body,
.theme-light .container,
.theme-dark .container {
  transition: all 0.7s ease;
}

body {
  background-color: var(--primary-background-color);
}

.display-none {
  display: none;
}

.left-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .left-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .left-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 86px;
  }
}
